@media (max-width:1023px)
    .container
        width: 85vw
    .promo
        &__img 
            max-width: 50%
        &__header 
            font-size: 48px
    .product 
        img 
            display: block
            width: 80%
            margin: 0 auto
        &__descr 
            margin-bottom: 130px
    .reproduction 
        padding: 69px 0 1px 0
    .team 
        padding: 30px 0
        &__photos img 
            margin-right: 15px
            width: 60px
            height: 60px
        &__frame 
            padding: 76px 0px 20px 30px
        &__header 
            font-size: 36px
        &__descr 
            margin-top: 10px
            font-size: 15px
            line-height: 140%
    .footer
        &__icon 
            margin-left: 20px
        &__tab 
            margin-right: 3vw
            font-size: 15px
            line-height: 150%
            &-home
                font-size: 16px
    .tel
        &__number 
            font-size: 18px
        &__descr 
            font-size: 15px

@media (max-width:850px)
    .promo
        &__header 
            font-size: 36px
        &__subheader 
            margin-top: 10px
            margin-bottom: 25px
    .reproduction 
        padding: 30px 0 1px 0
        &__tab 
            margin-left: 10px
            padding: 5px 15px
            font-size: 16px
            line-height: revert
        &__title 
            font-size: 36px
        &__content 
            margin-top: 15px
            margin-bottom: 45px
            gap: 20px 20px

@media (max-width:770px)
    .container
        width: 90vw
    .header
        &__list li 
            margin-left: 30px
        .container 
            height: 50px
    .promo
        &__subheader 
            font-size: 15px
            line-height: 130%
    .btn 
        height: 54px
        width: 163px
        font-size: 18px
        &_mini 
            width: 85%
        &_change 
            width: 50px
            height: 50px
            font-size: 26px
            &_mini 
                width: 25px
                height: 25px
                font-size: 18px
    .reproduction
        &__content 
            grid-template-columns: repeat(2, 50%)
    .product img 
        width: 55%
    .acquainted 
        min-height: 400px
        &__header 
            font-size: 36px
        &__descr 
            margin-bottom: 40px
            font-size: 16px
            line-height: 140%





   



        





        
   