.header
    position: sticky
    top: 0
    z-index: 2
   
    
    background-color: $main_background
    .container
        height: 100px
    &__wrapper
        position: relative
        height: 100%
        margin:  auto 0
        display: flex
        justify-content: space-between
    &__shopping
        position: relative
        width: 25px
        cursor: pointer
        transition: color, transform 500ms ease
        &:hover
            transform: scale(1.5)
            fill:#376B44
        &__full
            position: absolute
            right: 0
            top: 33%
            border-radius: 50%
            width: 10px
            height: 10px
            background: #376B44

    .active
        fill:#376B44
        transform: scale(1.5)
    

    
    // &__nav
    &__list
        display: flex
        align-items: center
        margin: 0
        height: 100%
        li
            margin-left: 60px
            list-style-type: none
            color: #2C2D35
            line-height: normal
            a
                text-decoration: none
                color: #2C2D35
                &:hover
                    color: $main_hov
                &:active
                    background-color: $main_foc
                    color: #2C2D35
                &:focus
                    color: $main_act
none
    display: none

            
