.reproduction
    padding: 69px 0 70px 0
    background: #F4F6F5
    &__head
        display: flex
        justify-content: space-between
    &__title
        color: #2C2D35
        font-size: 40px
        line-height: 110%
    &__tabs
        display: flex
    &__tab
        list-style-type: none
        margin-left: 32px
        border-radius: 20px
        background: #D4E8D9
        padding: 10px 20px
        color: #2C2D35
        font-size: 20px
        line-height: normal
        cursor: pointer
        transition: 0.5s all
        &:hover
            background: $main_hov
            color: #F4F6F5
        &:focus
            background: $main_foc
            color: #598D66
        &:active
            background: $main_act
            color: #FFF
        &_active
            background: $main_act
            color: #FFF
            &:hover
                background: $main_act
                color: #FFF
    &__content
        display: none
        margin-top: 30px
        margin-bottom: 70px
        grid-template-columns: repeat(3, 1fr)
        gap: 30px 30px 
        &_active
           display: grid 
    

            

